
.floating2{
    animation-name: floating2;
    -webkit-animation-name: floating2;

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating2 {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(12%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}

@-webkit-keyframes floating2 {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(12%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}

/*
==============================================
tossing2
==============================================
*/

.tossing2{
    animation-name: tossing2;
    -webkit-animation-name: tossing2;    

    animation-duration: 2.5s;   
    -webkit-animation-duration: 2.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing2 {
    0% {
        transform: rotate(-4deg);   
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);   
    }                       
}

@-webkit-keyframes tossing2 {
    0% {
        -webkit-transform: rotate(-4deg);   
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    100% {
        -webkit-transform: rotate(-4deg);   
    }               
}
/*
==============================================
pulse2
==============================================
*/

.pulse2{
    animation-name: pulse2;
    -webkit-animation-name: pulse2;  

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse2 {
    0% {
        transform: scale(0.9);
        opacity: 0.7;       
    }
    50% {
        transform: scale(1);
        opacity: 1; 
    }   
    100% {
        transform: scale(0.9);
        opacity: 0.7;   
    }           
}

@-webkit-keyframes pulse2 {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;       
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;   
    }           
}
