html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: relative
}
body {
    overflow-x: hidden
}
section.home {
    background-color: #fff;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    overflow-x: hidden;
    z-index: 401;
    min-height: 450px;
    padding: 70px 10px 60px 10px;
}
section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
section .row .col-1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
}
section .row .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}
section .row .col-3 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 15px;
}
.widget {
    background: #fff;
    box-shadow: 0px 4px 70px -18px #707070;
    padding: 0;
}
.widget .widget-header {
    height: 55px;
    padding: 0 1.5625rem;
    border-bottom: 2px solid #eee;
    font-size: 1.2rem;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #34495e;
}
.widget .widget-body.padding-20 {
    padding: 20px;
}






section .line {
    display: table;
    width: 100%;
    table-layout: fixed;
}
section .line.info {
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #555555;
    color: #4ae387;
    font-weight: 700;
    font-size: 16px;
}
section .line.even {
    background-color: #fff;
}
section .line.odd {
    background-color: #eff4f5;
}
section .line  .cell{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

section .line .cell.id {
    width: 50px;
}
section .line .cell.place {
    width: 80px;
}
section .line .cell.status {
    width: 100px;
}
section .line .cell.status img{
    width: 40px;
    margin: 0 auto;
    display: block;
}
section .line .cell.status span{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
}
section .line .cell.rating {
    width: 120px;
}
section .line .cell.info-small {
    font-size: 12px;
}
section .intro {
    font-family: 'Roboto', sans-serif;

}
section .intro p{
    margin: 3px 15px;
    color: #34495e;
}
section .intro span.red {
    color: #ee3a53;
}
section .intro span.black {
    color: #5f5554;
}










@media only screen and (max-width: 1280px) {
    section.event .section-events {
        max-width: 1000px
    }
}
@media only screen and (max-width: 1024px) {
    section.events .section-events .row .item {
        width: calc(100% / 3)
    }
    section.events .section-events .row .item:nth-child(4n+1) 
     {
        clear: none
    }
    section.events .section-events .row .item:nth-child(3n+1){
        clear: both
    }
    section.events .section-events {
        max-width: 750px
    }
    section.events .section-events .row .item .desc h1 {
        font-size: 20px;
        margin-bottom: 10px
    }
    section.events .section-events .row .item .desc h2 {
        font-size: 16px
    }
    section.event .section-events {
        max-width: 750px;
        margin-top: 90px
    }
    section.event .section-tickets {
        max-width: 750px
    }
    section.event .section-events .row .item .desc a {
        text-decoration: none;
        color: #fff
    }
    .photos-block .item.even .left img,
    .photos-block .item.odd .right img {
        height: 240px;
        padding: 7px;
        margin: 10px
    }
    .photos-block .item.even .right p,
    .photos-block .item.odd .left p {
        font-size: 20px;
        padding: 7px;
        margin: 10px
    }
    section.event .section-events .row .item .desc p {
        letter-spacing: 0!important;
        line-height: 18px!important;
        font-size: 16px
    }
    section.event .section-events .row .item .desc {
        padding: 15px
    }
    section.clever .right p {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 10px 40px 0 10px
    }
}
@media only screen and (max-width: 768px) {
    section {
        background-attachment: scroll
    }
    body.navigation section > div,
    body.navigation .portfolio-project {
        display: none!important
    }
    section.home .section-title .wrapper h2 {
        font-size: 44px;
        text-align: center
    }
    section.home .section-title .wrapper h1 {
        font-size: 12px
    }
    section.home .section-title .top-line,
    section.home .section-title .bottom-line {
        width: 452px
    }
    section.events .section-events1{
        margin-top: 100px;
    }
    section.events .section-events2{
        margin-bottom: 20px;
    }
    section.events .section-events .row .item {
        width: 50%
    }
    section.events .section-events .row .item:nth-child(3n+1) {
        clear: none
    }
    section.events .section-events .row .item:nth-child(2n+1){
        clear: both
    }
    section.events .section-events {
        max-width: 620px
    }
    section.events .section-events .row .item .desc {
        margin-top: -5px
    }
    section.events .section-events .row .item .desc h1 {
        font-size: 16px
    }
    section.events .section-events .row .item .desc h2 {
        font-size: 14px
    }
    section.events .section-events .row .item .desc h1,
    section.events .section-events .row .item .desc h2,
    section.events .section-events .row .item .desc p {
        letter-spacing: 6px
    }
    section.events .section-events .row .item .desc .desc2 {
        padding: 5px
    }
    section.events button {
        font-size: 14px;
        height: 32px;
        margin-top: 4px
    }
    section.event .section-events {
        max-width: 640px;
        margin-top: 60px;
        margin-bottom: 50px
    }
    section.event .section-tickets {
        max-width: 640px
    }
    section.event .section-events .row .item .desc h1 {
        letter-spacing: 3px;
        font-size: 18px
    }
    section.event .section-events .row .item .desc p {
        letter-spacing: 0!important;
        line-height: 16px!important;
        font-size: 14px;
        margin-top: 5px!important
    }
    .photos-block .item {
        margin-top: 5px;
        margin-bottom: 10px
    }
    .photos-block .item.even .left img,
    .photos-block .item.odd .right img {
        height: 200px;
        padding: 5px;
        margin: 8px
    }
    .photos-block .item.even .right p,
    .photos-block .item.odd .left p {
        font-size: 16px;
        padding: 5px;
        margin: 8px
    }
    .button {
        width: 130px;
        padding: 7px
    }
    .button.button-light span {
        font-size: 12px;
        padding: 3px;
        margin: 3px
    }
    section.info .title,
    .info-block {
        width: auto;
        margin-left: 20px;
        margin-right: 20px
    }
    .info-block p {
        font-size: 16px
    }
    section.snews .title h1 {
        font-size: 18px;
        padding: 5px 30px 15px
    }
    .snews-block p {
        font-size: 14px;
        line-height: 18px
    }
    .snews-block p iframe {
        width: 100%
    }
    .snews-block {
        padding: 10px
    }
    section.snews .date {
        padding: 10px
    }
    .snews-block img {
        width: 100%;
        height: inherit
    }
    section.event .section-events .row .item .desc {
        padding: 8px
    }
    section.clever .left {
        display: block;
        width: 100%
    }
    section.clever .left img {
        width: 40%
    }
    section.clever .right {
        display: block;
        width: 100%;
        text-align: center
    }
    section.clever .right p {
        padding: 0 20px 20px;
        font-size: 16px
    }
}
@media only screen and (max-width: 667px) {
    section.home .section-title .wrapper h2 {
        font-size: 36px;
        text-align: center;
        padding: 5px 10px
    }
    section.home .section-title .wrapper h1 {
        font-size: 12px;
        margin: 0 20px 20px;
        letter-spacing: 4px
    }
    section.home .section-title .top-line,
    section.home .section-title .bottom-line {
        width: 336px
    }
    section.contacts {
        background: url(../img/back1.jpg) no-repeat center right fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover
    }
    section.contacts .map {
        display: none
    }
    section.contacts .contacts-block .wrapper p.desktop {
        display: none
    }
    section.contacts .contacts-block .wrapper a.mobile {
        display: block;
        text-decoration: none;
        margin: 0
    }
    section.contacts .contacts-block .wrapper {
        float: none;
        margin: 0 auto
    }
    section.contacts .contacts-block .wrapper .wrapper2 {
        border: none;
        text-align: center;
        margin: 15px
    }
    section.contacts .contacts-block .wrapper p {
        margin: 0
    }
    section.events .section-events {
        max-width: 540px
    }
    section.events .section-events .row .item .desc {
        margin-top: -5px
    }
    section.events .section-events .row .item .desc h1 {
        font-size: 16px;
        margin-bottom: 5px
    }
    section.events .section-events .row .item .desc h2 {
        font-size: 12px
    }
    section.events .section-events .row .item .desc h1,
    section.events .section-events .row .item .desc h2,
    section.events .section-events .row .item .desc p {
        letter-spacing: 4px
    }
    section.event .section-events .row .item {
        display: initial
    }
    section.event .section-events .row .item img {
        width: 90%
    }
    section.event .section-events .row .item .desc {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px
    }
    section.event .section-tickets {
        max-width: 560px
    }
    section.event .section-tickets .row img {
        height: 40px;
        margin: 10px 5px
    }
    .photos-block {
        width: 90%
    }
    section.photos .title {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 15px
    }
    section.photos .title h1 {
        font-size: 32px;
        padding: 3px 30px 5px;
        font-weight: 100
    }
    .photos-block .item.even .left img,
    .photos-block .item.odd .right img {
        height: 160px
    }
    section.infp .title {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 15px
    }
    section.info .title h1 { 
        font-size: 32px;
        padding: 3px 30px 5px;
        font-weight: 100
    }
    section.events h2.title {
        font-size: 32px;
        padding: 3px 30px 5px;
    }
    section.event button {
        margin-top: 20px
    }
    section.info .title {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 65px
    }
    .info-block {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0
    }
    .info-block p {
        font-size: 14px
    }
    section.news .title h1 {
        font-size: 32px;
        padding: 15px 30px
    }
    .news-block .item .bottom h1 {
        font-size: 20px
    }

    section.contacts .contacts-block .wrapper .sn {
        margin-left: 0px;
        padding: 10px;
    }

}
@media only screen and (max-width: 568px) {
    section.events .section-events {
        max-width: 400px
    }
    section.events .section-events .row .item .desc {
        margin-top: -5px
    }
    section.events .section-events .row .item .desc h1 {
        font-size: 14px;
        margin-bottom: 3px
    }
    section.events .section-events .row .item .desc h2 {
        font-size: 10px
    }
    section.events .section-events .row .item .desc p {
        font-size: 10px
    }
    section.events .section-events .row .item .desc h1,
    section.events .section-events .row .item .desc h2,
    section.events .section-events .row .item .desc p {
        letter-spacing: 2px
    }
    section.event .section-tickets {
        max-width: 400px
    }
    section.event .section-tickets .row img {
        height: 36px;
        margin: 8px 4px
    }
    .photos-block .item.even .left img,
    .photos-block .item.odd .right img {
        height: 130px
    }
    .photos-block .item.even .right p,
    .photos-block .item.odd .left p {
        font-size: 14px;
        padding: 3px;
        margin: 5px
    }
    .button {
        width: 120px;
        padding: 5px
    }
    .button.button-light span {
        font-size: 10px;
        padding: 3px;
        margin: 3px
    }
    .news-block .item {
        width: 100%
    }
    section.event .section-events .row .item .desc p {
        letter-spacing: 0!important;
        line-height: 14px!important;
        font-size: 12px
    }
    section.event .section-events .row .item .desc iframe {
        width: 100%!important;
        margin-left: 0
    }
    section.event .section-events .row .item .desc img {
        width: 100%!important;
        margin-left: 0
    }
    section.clever .right p {
        padding: 0 10px 10px;
        font-size: 14px
    }
    section.events h2.title {
        font-size: 24px;
        padding: 3px 30px 5px;
    }    
}
@media only screen and (max-width: 414px) {
    section.home .section-title .wrapper h2 {
        font-size: 28px;
        padding: 5px
    }
    section.home .section-title .wrapper h1 {
        font-size: 10px;
        margin: 0 10px 20px;
        letter-spacing: 5px
    }
    section.home .section-title .top-line,
    section.home .section-title .bottom-line {
        width: 256px
    }
    section.contacts .contacts-block .wrapper {
        width: 300px
    }
    section.contacts .contacts-block .wrapper .wrapper2 {
        margin: 10px
    }
    section.contacts .contacts-block .wrapper h1 {
        font-size: 22px
    }
    section.contacts .contacts-block .wrapper a.mobile {
        font-size: 14px
    }
    section.events .section-events {
        max-width: 318px
    }
    section.events .section-events .row .item .desc h1 {
        font-size: 12px;
        margin-bottom: 2px
    }
    section.events .section-events .row .item .desc h2 {
        font-size: 8px
    }
    section.events .section-events .row .item .desc p {
        font-size: 8px
    }
    section.events .section-events .row .item .desc h1,
    section.events .section-events .row .item .desc h2,
    section.events .section-events .row .item .desc p {
        letter-spacing: 1px
    }
    section.event .section-tickets {
        max-width: 300px
    }
    section.event .section-tickets .row img {
        height: 25px;
        margin: 6px 3px
    }
    .photos-block .item.even .left img,
    .photos-block .item.odd .right img {
        height: 100px
    }
    .photos-block .item.even .right p,
    .photos-block .item.odd .left p {
        font-size: 12px;
        padding: 2px;
        margin: 4px
    }
    .button {
        width: 100px;
        padding: 3px
    }
    .button.button-light span {
        font-size: 8px;
        padding: 2px;
        margin: 2px
    }
    section.events .section-events .row .item .desc {
        margin-top: -5px
    }
}