*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/**************************
header
**************************/
header {
	z-index: 403;
	position: relative;
}
header .left-top-logo {
	position: absolute;
	z-index: 404;
	left: 0;
}
header .left-top-logo p {
	outline: none;
	font-size: 32px;
	color: #4ae387;
	font-weight: 300;
	font-family: 'Teko', sans-serif;
	margin: 8px 20px;
}
.menu_handle {
	display: none;
}
.menu {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 402;
	border-bottom: 1px solid #4ae387;
	background-color: #333;
}
.menu_inner {
	height: 100%;
	position: relative;
	z-index: 100;
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	height: 53px;
}
.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	margin:  0px 20px 0px 0px;
}
.menu ul li {
	float: left;
}

.menu ul li a {
	outline: none;
	font-size: 17px;
	color: #fff;	
	text-decoration: none;
	display: block;
	font-family: 'Roboto', sans-serif;
	position: relative;
	letter-spacing: 0px;
	padding: 0px 0px;
	text-shadow: none;
	white-space: nowrap;  
	padding: 19px 20px 18px 20px;
}
.menu ul li a.active {
	color: #fff;
}

nav a:hover,
nav a:focus {
	outline: none;
}
.menu ul li a {
	color: #fff;
}
.menu ul li a i {
 color: #4ae387;
	margin-right: 4px;
}
.menu ul li a:hover {
	background: #000;
}
.menu ul li a:hover i {
	color: #fff;
}






header .button {
    margin: 8px 2px 6px 2px;
    float: right;
    position: relative;
    display: table-cell;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1px 1px;
    text-align: center;
    width: 34px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19, 1, .22, 1), color .6s cubic-bezier(0.19, 1, .22, 1);
    transition: border 1s cubic-bezier(0.19, 1, .22, 1), color .6s cubic-bezier(0.19, 1, .22, 1);
}
header .button.button-light .mask {
    background: #fff;
}
header .button.button-light a {
    text-decoration: none;
    color: #fff;
    font-size: 0.65em;
}
header .button.button-light:hover {
    border-color: #fff;
}
header .button.button-light:hover a {
    color: #fff;
}
header .button .overflow {
    overflow: hidden;
}
header .button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19, 1, .22, 1);
    transition: all 1.1s cubic-bezier(0.19, 1, .22, 1);
}
header .button:hover .mask {
    -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
    transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}
header .button a {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

/**************************
footer
**************************/
footer {
 	position: relative;
 	height: 40px;
 	margin-top: -40px;
	width: 100%;
	border-top: 1px solid #4ae387;
	background-color: #333;
	z-index: 404;
}
footer .left {
  width: 20%;
  float: left;
}
footer .left a{
	background-color: #4ae387;
	color: #000;
	text-decoration: none;
	width: 28px;
	height: 28px;
	margin-top: 6px;
	display: inline-block;
	position: relative;
	-webkit-border-radius: 15px;	
	-moz-border-radius: 15px;	
	border-radius: 15px;
	text-align: center;
	margin-left: 6px;
	-webkit-transition: -webkit-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;     	
}
footer .left a:hover{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
footer .left a:first-child {
	margin-left: 10px;
}
footer .left a i{
	font-size: 16px;
	margin: 0 auto;
	margin-top: 5px;
}
footer .center {
	width: 60%;
	text-align: center;
	float: left;
    z-index: 402;
    text-align: center;
}
footer .center p {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 13px 0px 0px 0px;
    letter-spacing: 2px;  	
}
footer .right {
  	width: 20%;
  	text-align: right;
    z-index: 402;
    float: left;
}
footer .right a.author {
    margin: 5px 10px 0px 2px;
    text-decoration: none;
    display: inline-block;
}
footer .right a.author p{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 10px;  
    float: left;
    margin: 8px 4px 0px 0px;
    letter-spacing: 2px;   
}
footer .right .author img {
    margin-top: 6px;
    width: 18px;
    height: 18px;
}
section .bord {
    background-color: #fff;
    position: absolute;
    z-index: 301;
} 
section .bord.l {
    width: 20px;
    height: 100%;
    left: 0;
}
section .bord.r {
    width: 20px;
    height: 100%;
    right: 0;
}  
section .bord.t, section .bord.b {
	display: none;
}

@media only screen and (max-width: 1024px) { 	
	.menu ul li a{
		padding: 19px 10px;
	}
}
@media only screen and (max-width: 768px) { 
	header {
		position: initial;
	}
	.menu_handle {
		display: block;
		background: none;
		border: none;
		width: 30px;
		height: 24px;
		padding: 0;
		outline: none;
		position: absolute;
		top: 15px;
		left: 12px;
		z-index: 2000;
	}
	.menu_handle::before,
	.menu_handle::after,
	.menu_handle span {
		background: #4ae387;
	}
	.menu_handle::before,
	.menu_handle::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		top: 50%;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transition: -webkit-transform 0.25s;
		transition: transform 0.25s;
	}
	.menu_handle span {
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		overflow: hidden;
		text-indent: 200%;
		-webkit-transition: opacity 0.25s;
		transition: opacity 0.25s;
	}
	.menu_handle::before {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	.menu_handle::after {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	.active.menu_handle span {
		opacity: 0;
	}

	.active.menu_handle::before {
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transform: rotate3d(0, 0, 1, 45deg);
	}

	.active.menu_handle::after {
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transform: rotate3d(0, 0, 1, -45deg);
	}
	.navigation section {
		background-color: #000!important;
		background-image: none!important;
	}
	.navigation .menu {
		position: absolute;	
		bottom: 0px;
		border: none;
	}
	.navigation .menu_inner {
		display: block;  display: table;
  		height: 100%;
	}
	.menu ul {
		display: none;
		float: none;
		position: relative;	
		margin: 100px 0px 0px 0px;  
  		vertical-align: middle;
    }
    .navigation .menu ul {
    	display: table-cell!important;
    }
    .navigation section > div {
    	display: none!important;
    }
    .menu ul {
    	margin-top: 0px;
    }
    .menu ul li {
		float: none;
		margin: 0px 0px;
    }     
    .menu ul li a {
    	font-size: 18px;
	    }  
	header .right {
		left: 40px;		
	}
	header .locale {
		width: auto;
	}
header .button a {font-weight: 300;}
}
@media only screen and (max-width: 667px) { 
	footer .center {
		width: 100%;
	}
	footer .right, footer .left {
		display: none;
	}
footer .center p {
font-size:9px;}
	.left-top .left-top-background{
		top: -254px;
		width: 295px;		
		right: -198px;
		left: auto;       
	    -o-transform:rotate(225deg);
	    -moz-transform:rotate(225deg);
	    -webkit-transform: rotate(225deg); 	
	    -ms-transform:rotate(225deg);
	}
	header .left-top-logo {
		right: 0;left: auto;
	}	
	header .left-top-logo img{
		width: 35px;
  		margin: 5px;
	}
}