/* the container */
.bannerscollection_zoominout {
	position:relative;
	line-height:20px;
}
.bannerscollection_zoominout img {
	position:relative;
	display: block;
	max-width:inherit;
	max-height:inherit;
	-webkit-backface-visibility: hidden;
	/*width:inherit;
	height:inherit;	*/
}
.bannerscollection_zoominout_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}
.bannerscollection_zoominout .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
	margin-top:0px;
	*margin-top:-20px;
}
.bannerscollection_zoominout .contentHolder {
	position:absolute;
}
.bannerscollection_zoominout .contentHolderUnit {
	/*position:relative;
	float:left;*/
	display:block;
	overflow:hidden;
}
.mycanvas {
	/*border:1px solid #ff0000;*/
	position:absolute;
	top:68px;
	right:10px;
	z-index:10;
}
.myloader {
	background:url(../skins/loader.gif);
	width:37px;
	height:37px;
	position:absolute;
	left:49%;
	top:49%;
	z-index:5;
}
/***opportune SKIN***/
.bannerscollection_zoominout.opportune .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
	margin-top:0px;
}

.bannerscollection_zoominout.opportune .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
}

.bannerscollection_zoominout.opportune .leftNav {
	position:absolute;
	left:0px;
	width:63px;
	height:72px;
	background:url(../skins/opportune/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .leftNav:hover {
	background:url(../skins/opportune/leftNavON.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.opportune .rightNav {
	position:absolute;
	right:0px;
	width:63px;
	height:72px;
	background:url(../skins/opportune/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.bannerscollection_zoominout.opportune .rightNav:hover {
	background:url(../skins/opportune/rightNavON.png) 0 0 no-repeat;
}
.bannerscollection_zoominout.opportune .bottomNav {
	position:absolute;
	width:0px;
	height:24px;
	bottom:-56px;
	z-index:999;
	padding-left:9px;
	margin-top: -30px!important;
	display: block!important;
}
.bannerscollection_zoominout.opportune .bottomNavButtonOFF {
	float:left;
	display:block;
	width:12px;
	height:12px;
	background:url(../skins/opportune/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:6px;
	cursor: pointer;
}

.bannerscollection_zoominout.opportune .bottomNavButtonON {
	float:left;
	display:block;
	width:12px;
	height:12px;
	padding-left:6px;
	background:url(../skins/opportune/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}



.bannerscollection_zoominout.opportune .bottomOverThumb {
	position:absolute;
	width:88px;
	height:95px;
	background:url(../skins/opportune/bottomOverThumbBg.png) 0px 0px no-repeat;
	bottom:25px;
	margin-left:-44px;
}
.bannerscollection_zoominout.opportune .innerBottomOverThumb {
	position:relative;
	width:80px;
	height:80px;
	margin:4px 0 0 4px;
	overflow:hidden;
}
.bannerscollection_zoominout.opportune .bottomOverThumb img {

}
.bannerscollection_zoominout.opportune .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(../skins/opportune/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.bannerscollection_zoominout.opportune .playOver:hover {
	background:url(../skins/opportune/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}
.bannerscollection_zoominout_texts {
	position:absolute;
	z-index:2;
	display: none;
	width:100%;
}
.bannerscollection_zoominout_text_line {
	position:absolute;
}
.title1 {
	font: bold 38px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 13px 6px 13px;
	color:#fff;
	  text-shadow:
   -1px -1px 0 #a5a5a5,  
    1px -1px 0 #a5a5a5,
    -1px 1px 0 #a5a5a5,
     1px 1px 0 #a5a5a5;
}
.title2 {
	font: bold 82px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 13px 6px 13px;
	color:#fff;
	letter-spacing: 10px;
	  text-shadow:
   -1px -1px 0 #a5a5a5,  
    1px -1px 0 #a5a5a5,
    -1px 1px 0 #a5a5a5,
     1px 1px 0 #a5a5a5;
}
.finaltitle1 {
	font: bold 48px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 13px 6px 13px;
	color:#fff;
	  text-shadow:
   -1px -1px 0 #a5a5a5,  
    1px -1px 0 #a5a5a5,
    -1px 1px 0 #a5a5a5,
     1px 1px 0 #a5a5a5;	
}
.finaltitle2 {
	font: bold 82px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:6px 13px 6px 13px;
	color:#fff;
	letter-spacing: 5px;
	  text-shadow:
   -1px -1px 0 #a5a5a5,  
    1px -1px 0 #a5a5a5,
    -1px 1px 0 #a5a5a5,
     1px 1px 0 #a5a5a5;	
}
.hideElement {
	display:none;
}
@media only screen and (max-width: 768px) { 
	.title1, .title2, .finaltitle1, .finaltitle2 {
		padding-top: 50px!important;
	}
}