html, body{width:100%;padding:0;margin:0;overflow-x:hidden;position:relative;}
body{overflow-x:hidden;background-color:#fff;}
html.not-wow,body.not-wow{height:100%;min-height:100%;}
body.events,body.lists,body.photoreport{overflow-y: scroll;-webkit-overflow-scrolling: touch;}
body.menu-active section,
body.menu-active footer,
body.menu-active header .title,
body.menu-active .social,
body.menu-active .locales,
body.menu-active #line{display:none;}
html.menu-active,body.menu-active{height:100%;min-height:100%;}
section.home{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:400px;}
section.home .section-logo{display:table-cell;vertical-align:middle;width:100%;text-align:center;z-index:404;position:relative;}
section.home .section-logo .img-wrapper{margin:0 auto;width:27%;display:block;}
section.home .section-logo .img-wrapper img{width:100%;margin-bottom:10%;padding-left:70px;}
section.contacts{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:450px;padding-left:71px;}
section.contacts .section-content{display:table-cell;vertical-align:middle;width:100%;text-align:center;z-index:404;position:relative;padding-top:15px;padding-bottom:40px;}
section.contacts .section-content .item{display:table;width:80%;margin:0 auto;padding:30px 0px 30px 0px;border-bottom:1px solid #be9b19;}
section.contacts .section-content .item:last-child{border:0px;}
section.contacts .section-content .item .l{display:table-cell;width:50%;vertical-align:middle;}
section.contacts .section-content .item .r{display:table-cell;width:50%;vertical-align:middle;}
section.contacts .section-content .item h1{font-size:40px;color:#be9b19;font-family:'Alegreya Sans SC', sans-serif;font-weight:100;letter-spacing:7px;margin:0px 0px;text-transform:uppercase;}
section.contacts .section-content .item p{font-size:24px;letter-spacing:3px;color:#9c811c;font-family:'Alegreya Sans SC', sans-serif;font-weight:300;margin:5px 0px;visibility:hidden;}
section.contacts .section-content .item .map{height:400px;width:100%;position:relative;display:block;z-index:404;border:3px solid #be9b19;}
section.contacts .section-content .item .mobile{display:none;}
section.interior{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:450px;}
section.interior .section-content{display:table-cell;vertical-align:middle;width:100%;text-align:center;z-index:404;position:relative;padding-top:40px;padding-bottom:40px;}
section.about{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:400px;padding-left:71px;}
section.ristorante_inner{background-color:#fff;}
section.sections{width:100%;min-height:100vh;position:relative;margin:0;padding:0;background-color:#fff;overflow:hidden;}
section.ristorante_inner h2{letter-spacing:4px;font-size:33px;text-align:center;font-family:'Alegreya Sans SC', sans-serif;font-weight:300;color:#be9b19;margin-top:70px;margin-bottom:0px;z-index:405;position:relative;-webkit-transition:all ease .8s;-moz-transition:all ease .8s;-ms-transition:all ease .8s;-o-transition:all ease .8s;transition:all ease .8s;}
section.ristorante_inner h2.active{display:none;}
section#ristorante_inner_1 div#ristorante_inner_mask_1{background:url(../img/ristorante1.png) center center;background-size:cover;}
section#ristorante_inner_2 div#ristorante_inner_mask_2{background:url(../img/ristorante2.png) center center;background-size:cover;}
section#ristorante_inner_3 div#ristorante_inner_mask_3{background:url(../img/ristorante3.png) center center;background-size:cover;}
section#ristorante_inner_4 div#ristorante_inner_mask_4{background:url(../img/ristorante4.png) center center;background-size:cover;}
div.ristorante_inner_mask{position:absolute;width:100%;height:100%;top:0;left:0;z-index:9;-webkit-transition:all ease .8s;-moz-transition:all ease .8s;-ms-transition:all ease .8s;-o-transition:all ease .8s;transition:all ease .8s;}
div.inner_mask_hover{position:absolute;width:100%;height:20%;top:40%;left:0;z-index:12;-webkit-transition:all ease .8s;-moz-transition:all ease .8s;-ms-transition:all ease .8s;-o-transition:all ease .8s;transition:all ease .8s;}
section.ristorante_inner p{font-size:16px;text-align:center;color:#000;width:66%;position:absolute;bottom:40px;left:17%;font-family:'Alegreya Sans SC', sans-serif;padding:20px;z-index:405;line-height:24px;-webkit-transition:all ease .8s;-moz-transition:all ease .8s;-ms-transition:all ease .8s;-o-transition:all ease .8s;transition:all ease .8s;}
section.ristorante_inner p.active{background-color:rgba(255,255,255, 1.0);right:0%;left:34%;border-left:5px solid #be9b19;}
img.img_s{margin:17px 0;display:none;}
section#ristorante_inner_1 div#ristorante_inner_1_hover{background:url(../img/ristorante1_hover.jpg) center center;background-size:cover;}
section#ristorante_inner_2 div#ristorante_inner_2_hover{background:url(../img/ristorante2_hover.jpg) center center;background-size:cover;}
section#ristorante_inner_3 div#ristorante_inner_3_hover{background:url(../img/ristorante3_hover.jpg) center center;background-size:cover;}
section#ristorante_inner_4 div#ristorante_inner_4_hover{background:url(../img/ristorante4_hover.jpg) center center;background-size:cover;}
section.ristorante_inner div.ristorante_inner_hover{width:100%;height:100%;position:absolute;top:0;left:0;opacity:1;-webkit-transition:all ease .8s;-moz-transition:all ease .8s;-ms-transition:all ease .8s;-o-transition:all ease .8s;transition:all ease .8s;}
.opacity0{opacity:0 !important;-webkit-transition:all ease .8s;-moz-transition:all ease .8s;-ms-transition:all ease .8s;-o-transition:all ease .8s;transition:all ease .8s;}
section.photoreports{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:450px;padding-left:71px;padding-top:65px;}
section.photoreports .item{border:1px solid #be9b19;padding:5px;box-shadow:1px 1px 10px rgba(0,0,0,0.5);}
section.photoreports .item a{text-decoration:none;color:#be9b19;position: relative;display: block;}
section.photoreports .item a img{-webkit-filter:grayscale(0.5);filter:gray;filter:grayscale(0.5);}
section.photoreports .item a .title-wrapper{background-color:#be9b19;padding:7px 5px;transition:all 0.3s ease-in-out;}
section.photoreports .item a .title-wrapper h1{font-family:'Alegreya Sans SC', sans-serif;font-weight:300;font-size:20px;color:#fff;text-align:center;letter-spacing:1px;margin:0px 0px;transition:all 0.3s ease-in-out;}
section.photoreports .item a:hover .title-wrapper{background-color:#fff;}
section.photoreports .item a:hover .title-wrapper h1{color:#be9b19;}
section.photoreports .item a:hover img{-webkit-filter:grayscale(0);filter:gray;filter:grayscale(0);opacity:1;-webkit-animation:flash 1.5s;animation:flash 1.5s;}
@-webkit-keyframes flash{0%{opacity:.4;}
100%{opacity:1;}
}
@keyframes flash{0%{opacity:.4;}
100%{opacity:1;}
}
section.photoreport{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:450px;padding-left:71px;padding-top:65px;padding-bottom: 40px;}
section.events{position:relative;display:table;height:100%;width:100%;table-layout:fixed;overflow-x:hidden;z-index:401;min-height:450px;padding-left:71px;padding-top:55px;padding-bottom: 40px;}
body.event-open header .title{display:none;}
body.event-open div#line,
body.event-open div.social,
body.event-open .page-title,
body.event-open #menu-toggle,
body.event-open .locales{display:none;}
body.hide-footer footer .center{visibility: hidden!important}


form {
	width: 100%;
}
.ph-table {
	display: table;
	width: 100%;
}
.ph-table .c1, .ph-table .c2, .ph-table .c3 {
	display: table-cell;
	vertical-align: middle;
}
.ph-table .c1 {
	font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #be9b19;
    font-size: 26px;
    width: 55px;	
}
.ph-table .c2 {
	padding-top: 0px;
	width: 70px;
}
.ph-table .c2 .select-wrapper{
	width: 60px!important;
}



.form-group label {
	font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #be9b19;
    font-size: 26px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="date"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  background-color: #dfd3a6;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="date"]:focus {
  outline: none;
}
input[type="text"],input[type="email"],input[type="password"],input[type="date"] {
  padding: 6px;
  border: none;
  border-bottom: solid 4px #dfd3a6;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  color: #be9b19;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;  
}
input[type="text"]:focus,  input[type="text"].focus,
input[type="email"]:focus,  input[type="email"].focus,
input[type="password"]:focus,  input[type="password"].focus,
input[type="date"]:focus,  input[type="date"].focus {
  border-bottom: solid 4px #be9b19;
}
input[type="text"].has-error,input[type="email"].has-error,input[type="password"].has-error,input[type="date"].has-error {
  border-bottom: solid 4px #812222;  
}
.help-block {
  color: #812222;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;  
}
.select-wrapper {
  padding: 0;
  margin: 0;
  border: 1px solid #be9b19;
  width: 120px;
  overflow: hidden;
  background-color: #dfd3a6;
  background: #dfd3a6 url("../../web/img/arrowdown.gif") no-repeat 90% 50%;  
  height: 36px;
}
.select-wrapper select {
	font-size: 22px;
	display: block;
	position: relative;
  padding: 3px 8px;
  width: 130%;
  color: #be9b19;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;          
}
.select-wrapper select:focus {
  outline: none;
}
.btn {
	margin-top: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  font-weight: 500;   
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  text-decoration: none; 
}
.btn-small {
  font-size: 14px;
}
.btn-yellow {
  color: #be9b19;  
  border: 2px solid #be9b19;
  background: none;
}
.btn-yellow:hover {
  background-color: #be9b19;
  color: #fff;
}
.success-text h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    margin: 0;
    color: #be9b19;
    font-size: 30px;	
}
.success-text p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #be9b19;
    font-size: 24px;
}
.lists-intro {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    margin: 20px 0px;
    color: #be9b19;
    font-size: 24px;  
    text-align: center;
}
.success-text h2 a{
      color: #907511!important;  
}
.success-text h2 a:hover{
      color: #be9b19!important;  
}
.lists a .more{
  position: absolute;
  text-align: center;
  left: 0px; right: 0px;
  top: 50%;
  display: block;
  z-index: 9999;
}
.lists a:hover .more{
  position: absolute;
  text-align: center;
  left: 0px; right: 0px;
  top: 50%;
  display: block;
  z-index: 9999;
}
.lists a .more span{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px; 
    color: #be9b19;  
    border: 1px solid #be9b19;
    padding: 8px 15px;
    background-color: #fff;
}

.list {
  display: table;
      padding-bottom: 20px;
      vertical-align: middle;
      height: 100%;
}
.list .l{
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 0px 20px;
}
.list .l img{
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.list .r{
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 0px 20px;
}
.list p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 0.65em;
    max-width: 100%;
    color: #be9b19;
    margin: 0px 0px;
    font-size: 16px;
}
@media only screen and (max-width:1024px){section.home .section-logo .img-wrapper{width:40%;}
section.ristorante_inner p{font-size:14px;line-height:16px;width:80%;left:10%;padding:10px;}
section.ristorante_inner p.active{left:20%;}
section.contacts .section-content .item{width:90%;}
section.contacts .section-content .item h1{font-size:36px;letter-spacing:3px;}
}
@media only screen and (max-width:768px){section.home .section-logo .img-wrapper{width:50%;}
section.ristorante_inner p{font-size:14px;line-height:16px;}
section.contacts .section-content{padding-top:20px;}
section.contacts .section-content .item{padding:15px 0px 15px 0px;}
section.contacts .section-content .item .l{width:100%;display:block;}
section.contacts .section-content .item .r{width:100%;display:block;}
section.contacts .section-content .item .mobile{display:block;}
section.contacts .section-content .item .desktop{display:none;}
section.contacts .section-content .item .map{height:300px;}
.list .l{display: none}
.list .r{width: 100%;padding: 0px 40px;}
}
@media only screen and (max-width:667px){section.home .section-logo .img-wrapper{width:50%;}
section.ristorante_inner h2{font-size:28px;}
section.ristorante_inner p{font-size:12px;line-height:14px;width:84%;left:8%;padding:6px;}
section.ristorante_inner p.active{left:16%;}
}
@media only screen and (max-width:568px){section.home .section-logo .img-wrapper{width:55%;}
section.home .section-logo .img-wrapper img{padding-left:0px;}
section.about, section.contacts{padding-left:0px;}
.cbp-bislideshow{left:0px;top:55px;}
.cbp-bicontrols{margin:-50px 0 0 -150px;}
section.contacts .section-content .item h1{font-size:26px;letter-spacing:2px;}
section.contacts .section-content .item p{font-size:20px;letter-spacing:1px;}
section.contacts .section-content .item .map{height:240px;}
section.photoreports{padding-left:0px;}
section.photoreport{padding-left:0px;}
section.events{padding-left:0px;}
}
@media only screen and (max-width:414px){
  .list .r{width: 100%;padding: 0px 20px;}
}
footer .left .footer-social{display:none;}